@tailwind base;
@tailwind components;
@tailwind utilities;

#menuComplet {
    max-height: 500px; /* Définir la hauteur maximale selon vos besoins */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}

.hamburger-menu {
    display: block;
}

.menu-icon {
    cursor: pointer;
}

.menu {
    display: none;
}

#checked{
    display: none;
}

#checked:checked + .menu {
    display: block;
}


